"""
{{ name }} exceptions.
"""

from lib.plugins.exception import 
"""
Plugin exceptions.
"""

from lib.plugins.exception import (
    PluginNotFoundError,
    PluginValidationError,
    PluginExecutionError,
    PluginNotImplementedError,
    PluginAlreadyRegisteredError
)