"""
{{ name }} plugin exceptions.
"""

from __future__ import annotations

from lib.plugins.exceptions import PluginException


class {{ class_name }}Exception(
    PluginException,
):
    """
    Base exception for the {{ name }} plugin.
    """
