"""
{{ name }} plugin.
"""

from __future__ import annotations

from lib.plugins.base import BasePlugin


class {{ class_name }}(
    BasePlugin,
):
    """
    {{ name }} plugin.
    """

    def execute(
        self,
        **arguments,
    ) -> None:
        """
        Execute the plugin.
        """

        raise NotImplementedError()
