{
    "namespace": "{{ namespace }}",
    "name": "{{ name }}",
    "version": "{{ version }}",
    "display_name": "{{ name }}",
    "description": "{{ description }}",
    "author": "{{ author }}",
    "license": "{{ license }}",
    "module": "plugin",
    "extensions": [],
    "tags": []
}
