{
    "name": "{{ name }}",
    "namespace": "{{ namespace }}",
    "version": "{{ version }}",
    "description": "{{ description }}",
    "author": "{{ author }}",
    "entropy": ">=1.0.0",

    "dependencies": [],

    "tags": [],

    "license": ""
}
