{
    "name": "{{ class_name }} Workflow",
    "version": "1.0.0",
    "description": "Example workflow for {{ namespace }}.{{ name }}.",

    "variables": {

    },

    "steps": [
        {
            "name": "Execute {{ class_name }}",
            "plugin": "{{ namespace }}.{{ name }}",
            "enabled": true,
            "continue_on_error": false,
            "tags": [
                "{{ name }}"
            ],
            "arguments": {

            }
        }
    ]
}
